* {
    font-family:'Courier New', Courier, monospace !important;
    color: #dfc2bc !important;
}

body {
    background-color: #341e19 !important;
}

#title {
    text-align: center;
    background-size: cover;
}

.topNavBar {
    overflow:hidden !important;
    text-align: center !important;
}

.topNavBar ul {
    display: inline-block !important;
    list-style-type: none !important;
    color: #dfc2bc !important;
    padding: 12px 60px !important;
    text-decoration: none !important;
    font-size: 30px !important;
}

.topNavBar a:hover {
    background-color: #9d1414;
    border-radius: 10px;
}

#intro {
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
}

hr.rounded {
    border-top:3px solid #dfc2bc;
    border-radius: 2px;
}

#footer {
    text-align: center;
    font-size: 12px;
}

#bottomNavBar {
    overflow: hidden !important;
    text-align: center !important;
}

#bottomNavBar ul {
    display: inline-block !important;
    list-style-type: none !important;
    padding-bottom: 1% !important;
    text-decoration: none !important;
}

#bottomNavBar #github:hover {
    background-color:#9d1414 !important;
    border-radius: 11px !important;
}  

#bottomNavBar #linkedIn:hover {
    background-color:#9d1414 !important;
}  
