* {
    font-family:'Courier New', Courier, monospace !important;
    color: #dfc2bc !important;
}

body {
    background-color: #341e19 !important;
}

#footer {
    text-align: center !important;
    font-size: 12px !important;

}

#title {
    text-align: center !important;
    background-size: cover !important;
}

.topNavBar {
    overflow: hidden !important;
    text-align: center !important;
}

.topNavBar ul {
    display: inline-block !important;
    list-style-type: none !important;
    color: #dfc2bc !important;
    padding: 12px 60px !important;
    text-decoration: none !important;
    font-size: 30px !important;
}

.topNavBar a:hover {
    background-color: #9d1414 !important;
    border-radius: 10px !important;
}

hr.rounded {
    border-top:3px solid #dfc2bc !important;
    border-radius: 2px !important;
}

/* Steak */
#steakTitle {
    text-align: left;
    font-weight: bold;
    text-decoration:underline;
}

#steakDesc {
    text-indent: 5% !important;
}

/* Focaccia */
#focacciaTitle {
    text-align: left;
    font-weight:bold;
    text-decoration:underline;
}


/* Pasta */
#pastaTitle {
    text-align: left;
    font-weight: bold;
    text-decoration:underline;
}


#bottomNavBar {
    overflow: hidden !important;
    text-align: center !important;
}

#bottomNavBar ul {
    display: inline-block !important;
    list-style-type: none !important;
    padding-bottom: 1% !important;
    text-decoration: none !important;
}

#bottomNavBar #github:hover {
    background-color:#9d1414 !important;
    border-radius: 11px !important;
}  

#bottomNavBar #linkedIn:hover {
    background-color:#9d1414 !important;
}  

#steak {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
}